.wrapper {
  height: calc(100vh - 65px);
  // height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .item {
    height: auto !important;
    line-height: 1.5;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 5px;
    padding-left: 12px !important;
    border-bottom: 1px solid #e8e8e8;
  }
}
